.DS_Store

#  private files
.env
modules/calendar/credentials.json
modules/calendar/credentials-web.json
modules/calendar/token.json
token.json

#  heavy directories
node_modules/
other_fonts/

#  other
output.png
